<%= stylesheet_link_tag    "index", media: "screen" %>
<div class="overlay-navigation">
  <nav role="navigation">
    <ul>
      <li><a href="/wedding/wedding" data-content="">Wedding</a></li>
      <li><a href="/wedding/hotels" data-content="">Hotels</a></li>
      <li><a href="/wedding/registry" data-content="">Registry</a></li>
      <li><a href="/wedding/marryoke" data-content="">Marryoke</a></li>
      <li><a href="/wedding/contact" data-content="">Contact</a></li>
    </ul>
  </nav>
</div>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
</style>
<section class="home">
  <div class="open-overlay">
    <style>
    p {
        color:#DAA520;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: justify;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'ecuyerdaxregular';
        margin-left: -10px;
      }
    </style>
    <p>Menu</p>
    <span class="bar-top"></span>
    <span class="bar-middle"></span>
    <span class="bar-bottom"></span>
  </div>
</section>
