<%= stylesheet_link_tag    "contact", media: "screen" %>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
     .content p1 {
        font-family: 'ecuyerdaxregular';
        font-size: 80px;
        color: #DAA520;
     }
     h1 {
       background-color: #FFE0E3
     }
</style>
<h1 class="content", align ="center">
     <img class= "imgl" src="/assets/ghledited.png">
     <img class= "imgr" src="/assets/ghredited.png"><br>
     <p1>Registry</p1>
     <hr>
</h1>
<ul class="nav">
  <li><a class = "menu-link" href="home">HOME</a></li>
  <li><a class = "menu-link" href="wedding">WEDDING</a></li>
  <li><a class = "menu-link" href="hotels">HOTELS</a></li>
  <li><a class = "menu-link" href="registry">REGISTRY</a></li>
  <li><a class = "menu-link" href="marryoke">MARRYOKE</a></li>
  <li><a class = "menu-link" href="contact">CONTACT</a></li>
</ul>
<br>
<div class="article-content">
  <p>Aaron and Tessa are registered at <a class = "no_underline" href=http://www.target.com/gift-registry/find-a-registry?type=WEDDING>Target</a>,
     <a class = "no_underline" href=https://secure.williams-sonoma.com/registry/find.html?lastName=Croker&firstName=Tessa>Williams Sonoma</a>, and
     <a class = "no_underline" href=https://secure.potterybarn.com/registry/3783320/access-registry.html>Pottery Barn</a>.
     <br>
     <br>
     A friendly reminder for anyone who might be considering personalized gifts: please remember that our name is Croker rather than Hiltner.
     <br>
     <br>
     For Williams Sonoma and Pottery Barn the password is 77wedUK.
     <br>
     <br>
     Target registry ID: 013399121859010
  </p>
</div>
