<%= stylesheet_link_tag    "contact", media: "screen" %>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
     .content p1 {
        font-family: 'ecuyerdaxregular';
        font-size: 80px;
        color: #DAA520;
        text-align: justify;
     }
     h1 {
       background-color: #FFE0E3;
     }
</style>
<h1 class="content", align ="center">
     <img class= "imgl" src="/assets/ghledited.png">
     <img class= "imgr" src="/assets/ghredited.png"><br>
     <p1>Wedding</p1>
     <hr>
</h1>
<ul class="nav">
  <li><a class = "menu-link" href="home">HOME</a></li>
  <li><a class = "menu-link" href="wedding">WEDDING</a></li>
  <li><a class = "menu-link" href="hotels">HOTELS</a></li>
  <li><a class = "menu-link" href="registry">REGISTRY</a></li>
  <li><a class = "menu-link" href="marryoke">MARRYOKE</a></li>
  <li><a class = "menu-link" href="contact">CONTACT</a></li>
</ul>
<br>
<div class="article-content">
<p>We are so thrilled that you will be joining us on 7 July 2016!<br>
St Nicholas Church and Ham Polo Club are both special venues to us,
and showcase the heritage and beauty of England. We look forward to sharing these
special places with you all.
<br><br>

<b><u>The Ceremony</u></b><br>
Our ceremony will take place at 2 o’clock in the afternoon at
<a class= "no_underline" href="http://www.wisleywithpyrford.org/our3churches.htm">St Nicholas</a>,
a twelfth century church in Pyrford, Surrey.
<br>
<br>
<a class="no_underline" href="https://www.google.com/maps/place/St.+Nicholas'+church,+Pyrford+%28C+of+E%29/@51.3760368,-1.2295099,9z/data=!4m5!1m2!2m1!1sst+nicholas+pyrford!3m1!1s0x4875d8f0ab1181d5:0x29fccacab7282fbb">
Address: Church Hill, Woking, GU22 8XH</a>.
<br>
<br>
There are two car parks: a small one next to the Old School Room and a large one behind the Old School Room.
Please ensure that cars do not obstruct access to the Rectory (behind St Nicholas’ Church) or to Densyl Cottage (behind the large car park). These are private homes and not part of the Church.
<br>
<br>
No photography is permitted during the ceremony.
<br>
<br>
<b>The Reception</b>
<br>
Following the ceremony we look forward to polo, merriment, and dancing at <a class="no_underline" href="http://www.hampoloclub.com/">Ham Polo Club</a>.
<br><br><a class= "no_underline" href="https://www.google.com/maps/place/Ham+Polo+Club/@51.444662,-0.3114177,17z/data=!3m1!4b1!4m2!3m1!1s0x48760c6c166b0489:0xbe2e4ab48f90dba3">
Address: Petersham Close, Richmond TW10 7AH</a>.<br><br>
As Tessa’s cousin, James Beggs, turns 18 on 8th July we plan to ring in this milestone with him at midnight. If possible, please join us to celebrate.
<br>
<br>
<b>Transportation</b>
<br>
Ham Polo is approximately 20 miles from St Nicholas. We have booked a bus to transport guests from St Nicholas to Ham. We are limited to 72 seats on the bus
and will allocate those seats on a first come first served basis.
If you would like to request a seat on the bus, please visit our <a class= "no_underline" href="/wedding/contact">contact page</a>.
<br><br>
Please Note: transport will not be available at the end of the wedding, so please make your own transportation arrangements for the return journey. We are happy to help coordinate taxi groups for those who might wish to share a ride.
We would suggest booking taxis for 1 am.
<br><br>
Local Taxi Firms:<br>
Claremont cars: +44(0)1932 351451 or  +44(0)1483 751811. Quotes are also available on their <a class = "no_underline" href= "http://www.claremontcars.com/">website</a>.<br>
Kingston Cars; +44(0)208 974 9000<br>
Crown Cars: +44(0)207 865656<br>
</p>
</div>
