<%= stylesheet_link_tag    "contact", media: "screen" %>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
     .content p1 {
        font-family: 'ecuyerdaxregular';
        font-size: 80px;
        color: #DAA520;
     }
     h1 {
       background-color: #FFE0E3
     }
</style>
<h1 class="content", align ="center">
     <img class= "imgl" src="/assets/ghledited.png">
     <img class= "imgr" src="/assets/ghredited.png"><br>
     <p1>Wedding</p1>
     <hr>
</h1>
<ul class="nav">
  <li><a class = "menu-link" href="home">HOME</a></li>
  <li><a class = "menu-link" href="wedding">WEDDING</a></li>
  <li><a class = "menu-link" href="hotels">HOTELS</a></li>
  <li><a class = "menu-link" href="registry">REGISTRY</a></li>
  <li><a class = "menu-link" href="marryoke">MARRYOKE</a></li>
  <li><a class = "menu-link" href="contact">CONTACT</a></li>
</ul>
<br>
<div class="article-content">
<p>

</p>
</div>
