<%= stylesheet_link_tag    "contact", media: "screen" %>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
     .content p1 {
        font-family: 'ecuyerdaxregular';
        font-size: 80px;
        color: #DAA520;
     }
     h1 {
       background-color: #FFE0E3
     }
</style>
<h1 class="content", align ="center">
     <img class= "imgl" src="/assets/ghledited.png">
     <img class= "imgr" src="/assets/ghredited.png"><br>
     <p1>Hotels</p1>
     <hr>
</h1>
<ul class="nav">
  <li><a class = "menu-link" href="home">HOME</a></li>
  <li><a class = "menu-link" href="wedding">WEDDING</a></li>
  <li><a class = "menu-link" href="hotels">HOTELS</a></li>
  <li><a class = "menu-link" href="registry">REGISTRY</a></li>
  <li><a class = "menu-link" href="marryoke">MARRYOKE</a></li>
  <li><a class = "menu-link" href="contact">CONTACT</a></li>
</ul>
<br>
<div class="article-content">
  <p>
  The following three hotels are located within 5 miles of St Nicholas' Church.
  All are located in Woking, a town with many restaurants and high-speed rail access to London:
  <br>
  <br>
  <a class = "custom-link" href=http://doubletree3.hilton.com/en/hotels/united-kingdom/doubletree-by-hilton-hotel-woking-XWOWODI/index.html>Double Tree, Woking</a>
  <br><br>
  <a class = "custom-link" href=https://www.travelodge.co.uk/hotels/566/Woking-Central-hotel>Travel Lodge, Woking</a>
  <br>
  Booking online at least 3 months before the wedding should provide the cheapest rates for this hotel.
  <br><br>
  <a class = "custom-link" href=http://www.premierinn.com/en/hotel/WOKEUR/woking-town-centre>Premier Inn, Woking</a>
  <br>
  Please note: there are two Premier Inns in Woking, the town centre location does not provide parking. The Woking West location does have parking but it is a mile from the station.
  <br>
  <br>
  Our friends run a beautiful bed and breakfast, <a href="http://www.birchwoodhousepyrford.co.uk/">Birchwood House</a>, approximately ten minutes away from West Byfleet station.
  It has two bedrooms available at this time.
  <br>
  <br>
  We also recommend <a href="https://www.airbnb.com/">Airbnb</a>. We
  recommend searching around Woking, West Byfleet, or Byfleet.
</p>
</div>
