<%= stylesheet_link_tag    "contact", media: "screen" %>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
     .content p1 {
        font-family: 'ecuyerdaxregular';
        font-size: 80px;
        color: #DAA520;
     }
     h1 {
       background-color: #FFE0E3
     }
</style>
<h1 class="content", align ="center">
     <img class= "imgl" src="/assets/ghledited.png">
     <img class= "imgr" src="/assets/ghredited.png"><br>
     <p1>Marryoke</p1>
     <hr>
</h1>
<ul class="nav">
  <li><a class = "menu-link" href="home">HOME</a></li>
  <li><a class = "menu-link" href="wedding">WEDDING</a></li>
  <li><a class = "menu-link" href="hotels">HOTELS</a></li>
  <li><a class = "menu-link" href="registry">REGISTRY</a></li>
  <li><a class = "menu-link" href="marryoke">MARRYOKE</a></li>
  <li><a class = "menu-link" href="contact">CONTACT</a></li>
</ul>
<br>
<div class="article-content">
  <p>During our wedding we will be making a Marryoke video—think a wedding video combined with an episode of Lip Sync Battle!
    <br>
    <br>
    We are still debating between a couple of songs, but once we have finalized we will update this page.
    In the mean time, take a look at our friends, Rebecca and Ian Strong’s
    <a class = "no_underline" href="https://www.youtube.com/watch?v=fcltuuqxnOw">Marryoke</a> for some inspiration.
  </p>
</div>

<iframe width="600" height="450" src="https://www.youtube.com/embed/fcltuuqxnOw">
</iframe>
