<%= stylesheet_link_tag    "contact", media: "screen" %>
<style>
@font-face {
    font-family: 'ecuyerdaxregular';
    src: url('/assets/ecuyer.TTF')
     }
     .content p1 {
        font-family: 'ecuyerdaxregular';
        font-size: 60px;
        color: #DAA520;
     }
     h1 {
       background-color: #FFE0E3;
     }
</style>
<h1 class="content", align ="center">
     <p1>Wedding</p1>
     <hr>
</h1>
<ul class="nav">
  <li><a class = "menu-link" href="index">HOME</a></li>
  <li><a class = "menu-link" href="wedding">WEDDING</a></li>
  <li><a class = "menu-link" href="hotels">HOTELS</a></li>
  <li><a class = "menu-link" href="registry">REGISTRY</a></li>
  <li><a class = "menu-link" href="marryoke">MARRYOKE</a></li>
  <li><a class = "menu-link" href="contact">CONTACT</a></li>
</ul>
<br>
<div class="article-content">
<p>We are so thrilled that you will be joining us on 7 July 2016!<br>
St Nicholas Church and Ham Polo Club are both special venues to us,
and showcase the heritage and beauty of England. We look forward to sharing these
special places with you all.
<br><br>

<b>The Ceremony</b><br>
Our ceremony will take place at 2 o’clock in the afternoon at St Nicholas,
a twelfth century church in Pyrford, Surrey.
<br>
Address: Church Hill, Woking, GU22 8XH.
<br>
<br>
There are two car parks: a small one next to the Old School Room and a large one behind the Old School Room.
Please ensure that cars do not obstruct access to the Rectory (behind St Nicholas’ Church) or to Densyl Cottage (behind the large car park). These are private homes and not part of the Church.
<br>
<br>
No photography is permitted during the ceremony.
<br>
<br>
<b>The Reception</b>
<br>
Following the ceremony we look forward to polo, merriment, and dancing at Ham Polo Club, Petersham Close, Richmond TW10 7AH.<br>
As Tessa’s cousin, James Beggs, turns 18 on 8th July we plan ring in this milestone with him at midnight. If possible, please join us to celebrate.
<br>
<br>
<b>Transportation</b>
<br>
Ham Polo is approximately 20 miles from St Nicholas. We have booked a bus to transport guests from St Nicholas to Ham. We are limited to 72 seats on the bus so please let us know if you would like to travel on the bus by clicking on the link below.
We will allocate seats on a first come first served basis.<br>
If you would like to request a seat on the bus, please enter your name below:
<br>
<form>
  Name: <input type="text" name=@name>
  <br>
  Number of Seats: <input type="text" name=@numberofseats>
  <br>
  <input type="submit" value="Request Seat(s)">

</form>
<br>
Please Note: transport will not be available at the end of the wedding, so please make your own transportation arrangements for the return journey. We are happy to help coordinate taxi groups for those who might wish to share a ride.
We would suggest booking taxis for 1 am.
</p>
</div>
